<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" width="200" alt="utfsm-logo" align="left"/>

# MAT281
### Aplicaciones de la Matemática en la Ingeniería

## Módulo XX
## Laboratorio Clase YY: Nombre de la Clase

### Instrucciones


* Completa tus datos personales (nombre y rol USM) en siguiente celda.
* La escala es de 0 a 4 considerando solo valores enteros.
* Debes _pushear_ tus cambios a tu repositorio personal del curso.
* Como respaldo, debes enviar un archivo .zip con el siguiente formato `mXX_cYY_lab_apellido_nombre.zip` a alonso.ogueda@gmail.com. 
* Se evaluará:
    - Soluciones
    - Código
    - Que Binder esté bien configurado.
    - Al presionar  `Kernel -> Restart Kernel and Run All Cells` deben ejecutarse todas las celdas sin error.
* __La entrega es al final de esta clase.__

__Nombre__:

__Rol__:

## Ejercicio #1 (1 pto)
### Cargar datos y filtrar aquellos que no tengan posición definida 

Se utilizará el mismo dataset de los jugadores de la NBA para la evaluación, ubicados en la carpeta `data` y el nombre del archivo es `player_data.csv`

In [2]:
import os
import pandas as pd

In [3]:
player_data = pd.read_csv(os.path.join('data', 'player_data.csv'), index_col='name')
player_data.head()

,year_start,year_end,position,height,weight,birth_date,college
name,,,,,,,
Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [5]:
player_data = player_data.loc[lambda x: x['position'].notnull()]
player_data

,year_start,year_end,position,height,weight,birth_date,college
name,,,,,,,
Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...
Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

## Ejercicio #2 (1 pto) 
### ¿Cuál es el _college_ con mayor cantidad de registros?

In [12]:
player_data['college'].value_counts()[[0]]

University of Kentucky    99
Name: college, dtype: int64

__Respuesta:__  University of Kentucky

## Ejercicio #3 (2 ptos)
### ¿Para cada posición, cuál es la máxima cantidad de tiempo que ha estado un jugador?

Un _approach_ para resolver la pregunta anterior tiene los siguientes pasos:

1. Determinar el tiempo de cada jugador en su posición.
2. Determinar todas las posiciones.
3. Iterar sobre cada posición y encontrar el mayor valor.

In [14]:
# 1. Determinar el tiempo de cada jugador en su posición.
player_data['duration'] = player_data['year_end'] - player_data['year_start']
player_data.head()

,year_start,year_end,position,height,weight,birth_date,college,duration
name,,,,,,,,
Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,4
Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,9
Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",19
Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,10
Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University,5

In [22]:
# 2. Determinar todas las posiciones.
positions = player_data['position'].unique() # Lista de posiciones
positions

array(['F-C', 'C-F', 'C', 'G', 'F', 'G-F', 'F-G'], dtype=object)

In [28]:
# 3. Iterar sobre cada posición y encontrar el mayor valor.
nba_position_duration = pd.Series()  # Crear una serie vacía
for position in positions:
    df_aux = player_data.loc[lambda x: x['position']==position]  # Filtrar por posición
    max_duration = df_aux['duration'].max() ## FIX ME ##  # Obtener el máximo
    nba_position_duration.loc[position] = max_duration ## FIX ME ##  # Poblar la serie

In [29]:
nba_position_duration

F-C    22
C-F    20
C      20
G      19
F      19
G-F    19
F-G    18
dtype: int64